*.txt                        export-ignore
themes/garland/              export-ignore
themes/stark/                export-ignore
profiles/standard/           export-ignore
sites/all/modules/*/tests/   export-ignore
sites/all/libraries/*/tests/ export-ignore
